@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/NeueMontreal-Regular.ttf') format('ttf'); 
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Semibold.ttf') format('ttf');
  
}

.font-neue {
  font-family: 'Neue Montreal',"Roboto" , sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(33,33,33);
  font-size: 16px;
  line-height: 24px;
}

.font-grotesk {
  font-family: 'FoundersGrotesk',"Roboto" , sans-serif;
  font-style: normal;
  font-weight: 600;
  
  
}
