@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/NeueMontreal-Regular.ttf') format('ttf'); 
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Semibold.ttf') format('ttf');
  
}

.font-neue {
  font-family: 'Neue Montreal',"Roboto" , sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(33,33,33);
  font-size: 16px;
  line-height: 24px;
}

.font-grotesk {
  font-family: 'FoundersGrotesk',"Roboto" , sans-serif;
  font-style: normal;
  
  
  
}
html,body{
  scroll-behavior: smooth;
}
.grid-overlay {
  background-image:
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.080), rgba(0,0,0,0.05) 1px, transparent 1px, transparent 40px),
    repeating-linear-gradient(90deg, rgba(0,0,0,0.080), rgba(0,0,0,0.05) 1px, transparent 1px, transparent 40px);
}
